@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Benefits and Challenges";
}

<h1>Benefits and Challenges of Unit Testing</h1>
<p>Unit testing ensures code quality but can be time-consuming to maintain...</p>
